<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>YuliaTuzov</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato|PT+Serif|Rubik&display=swap" rel="stylesheet">
    <link href="./styles/main.css" rel="stylesheet">
    <link href="./styles/contact.css" rel="stylesheet">
    <link href="./styles/resume.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-bar fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="./index.html">Home</a>
                <a class="nav-item nav-link" href="./projects.html">Projects</a>
                <a class="nav-item nav-link" href="./resume.html">Resume</a>
                <a class="nav-item nav-link" href="./blog.html">Blog</a>
                <a class="nav-item nav-link" href="./contact.html">Contact</a>
            </div>
        </div>
    </nav>